<h3 class='window-title'>User Stats</h3>
<div class="formbody">
  <table>
    <tr>
      <td width="150">User count:</td>
      <td><%= user_count %></td>
    </tr>
    <tr>
      <td width="150">Total money:</td>
      <td><%= all_remain_money %></td>
    </tr>
  </table>
</div>

