<h3 class='window-title'>User Info</h3>
<div class="formbody">
  <table>
    <tr>
      <td width="100"><b>Name:</b></td>
      <td><%= current_user.name %></td>
    </tr>
    <tr>
      <td width="100"><b>Remain:</b></td>
      <td><%= current_user.money %></td>
    </tr>
  </table>
</div>

