<div id="optip">
  <% if flash[:notice] %>
      <span><%= flash[:notice] %></span>
  <% end %>
</div>
<div id="infobar">
  <% if admin? %>
    <%= render 'users/admin_info' %>
  <% else %>
    <%= render 'users/info' %>
    <%= render 'orders/orders' %>
  <% end %>
</div>
