<h3 class='window-title'><%= t :order_status %></h3>
<div class='formbody'>
  <% @shops.each do |shop| %>
    <%= render 'shops/orders', :shop => shop %>
  <% end %>
  <span style="color: red; font-size: 90%;"><%= t 'tip.check_user_order' %></span>
</div>
