<h2>FAQ</h2>
<h3>Q: 这是什么东西？</h3>
<p>A: 这是个协助点外卖的网站，其流程为：用户充值，用户订餐，管理员统一联系外卖餐馆订餐，扣除用户消费金额，管理员提醒充值。</p>
<h3>Q: 我需要怎么做？</h3>
<p>A: 去管理员那充值，然后每天在<%= link_to "“菜单“", root_path %>页面选择你想要的的菜品下订单即可。</p>
<h3>Q: 我是管理员我需要怎么做？</h3>
<p>添加好菜品，然后点击“开始订餐“按钮。当时间差不多后，点击“停止订餐“，然后根据<%= link_to "“订餐统计“", stat_path %>页面收集的信息联系外卖餐馆。</p3>
<h3>Q: 我可以随时订餐吗？</h3>
<p>A: 不能。系统只有在管理员“开始订餐“后才会接收用户的订餐请求。</p>
<h3>Q: 我可以查看我的订餐历史吗？</h3>
<p>A: 可以通过<%= link_to "“日志“", user_history_path(current_user) %>页面查看你的消费情况，包括充值记录，以及管理员的手工扣除记录（这通常用于你点早饭）。</p>
<h3>Q: 午餐难以选择怎么办？</h3>
<p>转到<%= link_to "“订餐统计“", stat_path %>页面，看看别人的选择。</p>

