<% if current_user.admin? %>
  <td>
    <%= link_to t(:delete), food_path(food), :method => :delete, 
        :confirm => t("tip.you_sure") %>
  </td>
  <td>
    <%= link_to t(:edit), edit_food_path(food), :remote => true %>
  </td>
<% elsif system_started? %>
  <td>
    <%= link_to t(:order_it), new_order_path(food), :method => :post %>
  </td>
<% end %>
