body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12pt;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12pt;
  line-height: 18px; }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

